{% extends '::base.html.twig' %}
{% set titolo = 'Tabellone' %}
{% set params_ospedale = 'TUTTI' %}
{% set params_gestore = 'TUTTI' %}
{% set params_anno = 'TUTTI' %}
{% set route = 'tabellone' %}
{% if ospedale != '' %}
    {% set titolo = ospedale.nomeGruppo %}
    {% set params_ospedale = ospedale.gruppo %}
{% endif %}
{% if anno != '0' %}
    {% set titolo = titolo ~ ' 20' ~ anno %}
    {% set params_anno = anno %}
{% endif %}
{% if gestore is defined and gestore %}
    {% set titolo = gestore.nome ~ ' | ' ~ titolo %}
    {% set params_gestore = gestore.sigla %}
{% endif %}
{% set params_ricerca = {'gestore': params_gestore, 'ospedale': params_ospedale, 'anno': params_anno} %}
{% set params_cerca = {'gestore': params_gestore, 'ospedale': params_ospedale, 'anno': params_anno, 'q': '__query__'} %}
{% set params = {'gestore': params_gestore, 'ospedale': params_ospedale, 'anno': params_anno, 'pagina': 2} %}
{% block title %}{{titolo}}{% endblock %}

{% block menu %}
    {% include "::components/menu/base.html.twig" %}
    {% if false %}
        <button><a href="{{ path('tabellone_upload_drive_default') }}">Importa da Google Drive</a></button>
        <button><a href="{{ path('tabellone_upload_drive_piemonte') }}">Importa Piemonte da Google Drive</a></button>
    {% endif %}
    {% if app.user.hasRole('ROLE_ADMIN') %}
        <button><a href="{{ path('tabellone_upload_xls_default') }}">Importa da Bordereau</a></button>
        <button><a href="{{ path('tabellone_upload_xls_piemonte') }}">Importa da Bordereau Piemonte</a></button>
    {% endif %}
{% endblock %}

{% block content_header %}
    <h2>Ospedali</h2>
    <div style="clear: both"></div>
    <ul class="menu">
        {% set old_osp = '' %}
        {% if gestore is defined and gestore %}
            <li><a href="{{ path('tabellone_gestore', {'gestore': gestore.sigla}) }}">Tutti</a></li>
        {% else %}
            <li><a href="{{ path('tabellone') }}">Tutti</a></li>
        {% endif %}
        {% for osp in ospedali %}
            {% if old_osp != osp.gruppo %}
                {% set old_osp = osp.gruppo %}
                {% if gestore is defined and gestore %}
                    <li><a href="{{ path('tabellone_gestore', {'gestore': gestore.sigla, 'ospedale': osp.gruppo}) }}">{{osp.nomeGruppo}}</a></li>
                {% else %}
                    <li><a href="{{ path('tabellone', {'ospedale': osp.gruppo}) }}">{{osp.nomeGruppo}}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    {% if app.user.hasRole('ROLE_ADMIN') %}
        <div style="clear: both"></div>
        <h2>Gestori</h2>
        <div style="clear: both"></div>
        <ul class="menu">
            <li><a href="{{ path('tabellone') }}">Tutti</a></li>
            {% for ges in gestori %}
                <li><a href="{{ path('tabellone_gestore', {'gestore': ges.sigla}) }}">{{ges.nome}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div style="clear: both"></div>

{% endblock %}

{% block content %}
<h1>{{titolo}}</h1>

{% set colspan = 9 %}
{% include 'EphpSinistriBundle:Scheda:index/filtri.html.twig' %}
<table class="records_list">
    <thead>
        <tr>
            {% if gestore is defined and gestore %}
                {% set colspan = colspan + 2 %}
                <th>#</th>
                <th>PP</th>
            {% endif %}
            {% if mode <= 1 %}
                {% set colspan = colspan + 1 %}
                <th>Ospedale</th>
            {% endif %}
            {% if mode <= 2 %}
                {% set colspan = colspan + 1 %}
                <th>Anno</th>
            {% endif %}
            <th>Dasc</th>
            <th>Giud</th>
            <th>Tpa</th>
            <th>Claimant</th>
            {% if gestore is not defined or not gestore %}
                {% set colspan = colspan + 1 %}
                <th>Gestore</th>
            {% endif %}
            <th>Soi</th>
            <th>Amount Reserved</th>
            <th>Note</th>
            <th>Priorita</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody id="tb_container">
        {% include 'EphpSinistriBundle:Scheda:index/tbody.html.twig' %}
    </tbody>
</table>
{% if scroll %}
    <nav id="page_nav">
        <a href="{{ path('tabellone_scroll', params) }}">Ancora</a>
    </nav>
{% endif %}
{% if (gestore is not defined or not gestore) and gestori is defined %}
    <div style="display: none" id="fb_assegna_gestore">
        <form id="assegna_gestore_scheda">
            <h2>Assegna il gestore a <span id="assegna_gestore_a"></span></h2>
            <div style="clear: both"></div>
            <select name="scheda[gestore]" id="scheda_gestore">
                <option value="">Nessuno</option>
                {% for ges in gestori %}
                    <option value="{{ ges.sigla }}">{{ges.nome}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="scheda[id]" id="scheda_id" value="" />    
            <button type="button" onclick="assegnaGestore()">Assegna</button>
        </form>
    </div>
{% endif %}
<div style="display: none" id="fb_cambia_priorita">
    <form id="cambia_priorita_scheda">
        <h2>Cambia priorità <span id="cambia_priorita_a"></span></h2>
        <div style="clear: both"></div>
        <select name="priorita[priorita]" id="priorita_priorita">
            {% for pri in priorita %}
                <option value="{{ pri.id }}">{{pri.priorita}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="priorita[id]" id="priorita_id" value="" />    
        <button type="button" onclick="assegnaPriorita()">Cambia</button>
    </form>
</div>
<script type="text/javascript">
    var filtro = {'.r': true, '.na': false, '.ng': false};
    var filtro_nome = '';
    
    $('#find_claimant').change(function(){
        q = $(this).val().toLowerCase();
        if(q != '') {
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('__query__', q);
        } else {
            {% if gestore is defined and gestore %}
                url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__/', '-gestore_');
            {% else %}
                url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__', '').replace('tabellone/TUTTI', 'tabellone');
            {% endif %}
        }
        window.location =  url ;
    });
    function resetQ() {
        {% if gestore is defined and gestore %}
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__/', '-gestore_');
        {% else %}
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__', '').replace('tabellone/TUTTI', 'tabellone');;
        {% endif %}
        window.location =  url ;
    }
    
    {% if (gestore is not defined or not gestore) and gestori is defined %}
        function cambiaGestore() {
            $('.chg').click(function(){
                tr = $(this).closest('tr');
                $('#assegna_gestore_a').text(tr.attr('titolo'));
                $('#scheda_id').val(tr.attr('riga'));
                $('#scheda_gestore').val(tr.attr('gestore'));
            });
        }
        cambiaGestore();
        
        function assegnaGestore() {
            form = $('#assegna_gestore_scheda');
            $.post('{{ path('tabellone_assegna_gestore') }}', form.serialize(), function(out) {
                window.location = out.redirect;
            })
        }
    {% endif %}
    
    $('.chp').click(function(){
        tr = $(this).closest('tr');
        $('#cambia_priorita_a').text(tr.attr('titolo'));
        $('#priorita_id').val(tr.attr('riga'));
        $('#priorita_priorita').val(tr.attr('priorita'));
    });
    function assegnaPriorita() {
        form = $('#cambia_priorita_scheda');
        $.post('{{ path('tabellone_cambia_priorita') }}', form.serialize(), function(out) {
            riga = $('#riga_'+$('#priorita_id').val());
            riga.removeClass('bg-white')
                .removeClass('bg-red')
                .removeClass('bg-yellow')
                .removeClass('bg-green')
                .removeClass('bg-cyan')
                .removeClass('bg-gray')
                .addClass(out.css)
                .attr('priorita', out.id);
            td = riga.find('.chp a');
            td.html(out.label);
            if(out.js != '') {
                eval(out.js);
            }
            $.fancybox.close();
        });
    }
    sanitizeCurrency([$('.currency')]);
    sanitizeDate([$('.dasc_date')]);
    $('.autoupdate').change(function(){
        val = $(this).val();
        pratica = $(this).attr('pratica');
        field = $(this).attr('name');
        $.post('{{ path('tabellone_autoupdate') }}', {'pratica': {'id': pratica, 'field': field, 'value': val}}, function(out) {
            checkUm();
        });
    });
    function checkUm() {
        $('.um').each(function(){
            val = $('#'+$(this).attr('target')).val();
            console.log(val);
            if(val) {
                if(parseFloat(val) <= 100){
                    $(this).text('%');
                } else {
                    $(this).text('€');
                }
            } else {
                $(this).text('');
            }
        });
    }
    checkUm();
    
    function avanzata(url) {
        $.post(url, function(html) {
            $('#ricerca_avanzata').html(html);
        });
    }
    function filtra(filter) {
        $('#find_claimant').val('');
        filtro_nome = '';
        filtro = filter;
        runFiltro();
    }
    function runFiltro() {
        if(filtro_nome != '') {
            $('.r').hide().each(function() {
               t = $(this).attr('titolo').toLowerCase();
               if(t.search(filtro_nome) >= 0) {
                   $(this).show();
               }
            });
        } else {
            oef = Object.extended(filtro);
            oef.keys().each(function(key){
                show = filtro[key];
                if(show) {
                    $(key).show();
                } else {
                    $(key).hide();
                }
            });
        }
        $('.detail').hide();
        sanitizeCurrency([$('.currency')]);
        sanitizeDate([$('.dasc_date')]);
        {% if (gestore is not defined or not gestore) and gestori is defined %}
            cambiaGestore();
        {% endif %}
    }
    function primaPagina(id) {
        $.post('{{ path('tabellone_prima_pagina') }}', {'scheda': {'id': id}}, function(out) {
            $('#'+out.id).removeClass(out.remove);
            $('#'+out.id).addClass(out.add);
        });
    }    
    {% if scroll %}
        $(function(){
            var $container = $('#tb_container');
            $container.infinitescroll({
                navSelector  : '#page_nav',    // selector for the paged navigation 
                nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
                itemSelector : '.r',     // selector for all items you'll retrieve
                loading: {
                    finishedMsg: 'Fine',
                    msgText: 'Attendere',
                    img: 'http://i.imgur.com/qkKy8.gif'
                }
            }, function() {
                setTimeout(function(){runFiltro();}, 10);
            });
        });
    {% endif %}
</script>
{% endblock %}
