{% extends '::base.html.twig' %}
{% set titolo = 'Tabellone' %}
{% set route = 'tabellone' %}
{% if ospedale != '' %}
    {% set titolo = ospedale.nome %}
{% endif %}
{% if anno != '0' %}
    {% set titolo = titolo ~ ' 20' ~ anno %}
{% endif %}
{% if gestore is defined %}
    {% set titolo = gestore.nome ~ ' | ' ~ titolo %}
{% endif %}
{% block title %}{{titolo}}{% endblock %}

{% block header %}
    {% if gestore is not defined %}
        <button><a href="{{ path('tabellone_upload_drive') }}">Importa da Google Drive</a></button>
    {% endif %}
{% endblock %}

{% block content_header %}
    <h2>Ospedali</h2>
    <div style="clear: both"></div>
    <ul class="menu">
        {% if gestore is defined %}
            <li><a href="{{ path('tabellone_gestore', {'gestore': gestore.sigla}) }}">Tutti</a></li>
        {% else %}
            <li><a href="{{ path('tabellone') }}">Tutti</a></li>
        {% endif %}
        {% for osp in ospedali %}
            {% if gestore is defined %}
                <li><a href="{{ path('tabellone_gestore', {'gestore': gestore.sigla, 'ospedale': osp.sigla}) }}">{{osp.nome}}</a></li>
            {% else %}
                <li><a href="{{ path('tabellone', {'ospedale': osp.sigla}) }}">{{osp.nome}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if gestori is defined %}
        <div style="clear: both"></div>
        <h2>Gestori</h2>
        <div style="clear: both"></div>
        <ul class="menu">
            <li><a href="{{ path('tabellone') }}">Tutti</a></li>
            {% for ges in gestori %}
                <li><a href="{{ path('tabellone_gestore', {'gestore': ges.sigla}) }}">{{ges.nome}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div style="clear: both"></div>

{% endblock %}

{% block content %}
<h1>{{titolo}}</h1>

{% set colspan = 7 %}
{% include 'EphpSinistriBundle:Scheda:index/filtri.html.twig' %}
<table class="records_list">
    <thead>
        <tr>
            {% if mode <= 1 %}
                {% set colspan = 9 %}
                <th>Ospedale</th>
            {% endif %}
            {% if mode <= 2 %}
                {% if mode > 1 %}
                    {% set colspan = 8 %}
                {% endif %}
                <th>Anno</th>
            {% endif %}
            <th>Dasc</th>
            <th>Tpa</th>
            <th>Claimant</th>
            {% if gestore is not defined %}
                {% set colspan = colspan + 1 %}
                <th>Gestore</th>
            {% endif %}
            <th>Soi</th>
            <th>Stato</th>
            <th>Priorita</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if not entity.dasc %}
            {% include 'EphpSinistriBundle:Scheda:index/riga_inattiva.html.twig' %}
        {% else %}
            {% if not entity.gestore %}
                {% include 'EphpSinistriBundle:Scheda:index/riga_attivabile.html.twig' %}
            {% else %}
                {% include 'EphpSinistriBundle:Scheda:index/riga_attiva.html.twig' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% if gestore is not defined and gestori is defined %}
    <div style="display: none" id="fb_assegna_gestore">
        <form id="assegna_gestore_scheda">
            <h2>Assegna il gestore a <span id="assegna_gestore_a"></span></h2>
            <div style="clear: both"></div>
            <select name="scheda[gestore]" id="scheda_gestore">
                <option value="">Nessuno</option>
                {% for ges in gestori %}
                    <option value="{{ ges.sigla }}">{{ges.nome}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="scheda[id]" id="scheda_id" value="" />    
            <button type="button" onclick="assegnaGestore()">Assegna</button>
        </form>
    </div>
{% endif %}
<div style="display: none" id="fb_cambia_priorita">
    <form id="cambia_priorita_scheda">
        <h2>Cambia priorità <span id="cambia_priorita_a"></span></h2>
        <div style="clear: both"></div>
        <select name="priorita[priorita]" id="priorita_priorita">
            {% for pri in priorita %}
                <option value="{{ pri.id }}">{{pri.priorita}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="priorita[id]" id="priorita_id" value="" />    
        <button type="button" onclick="assegnaPriorita()">Cambia</button>
    </form>
</div>
<script type="text/javascript">
    $('#find_claimant').keyup(function(){
        q = $(this).val().toLowerCase();
        $('.r').hide().each(function() {
           t = $(this).attr('titolo').toLowerCase();
           if(t.search(q) >= 0) {
               $(this).show();
           }
        });
    });
    
    {% if gestore is not defined and gestori is defined %}
        $('.chg').click(function(){
            tr = $(this).closest('tr');
            $('#assegna_gestore_a').text(tr.attr('titolo'));
            $('#scheda_id').val(tr.attr('riga'));
            $('#scheda_gestore').val(tr.attr('gestore'));
        });
        function assegnaGestore() {
            form = $('#assegna_gestore_scheda');
            $.post('{{ path('tabellone_assegna_gestore') }}', form.serialize(), function(out) {
                window.location = out.redirect;
            })
        }
    {% endif %}
    
    $('.chp').click(function(){
        tr = $(this).closest('tr');
        $('#cambia_priorita_a').text(tr.attr('titolo'));
        $('#priorita_id').val(tr.attr('riga'));
        $('#priorita_priorita').val(tr.attr('priorita'));
    });
    function assegnaPriorita() {
        form = $('#cambia_priorita_scheda');
        $.post('{{ path('tabellone_cambia_priorita') }}', form.serialize(), function(out) {
            riga = $('#riga_'+$('#priorita_id').val());
            riga.removeClass('bg-white')
                .removeClass('bg-red')
                .removeClass('bg-yellow')
                .removeClass('bg-gray')
                .addClass(out.css)
                .attr('priorita', out.id);
            td = riga.find('.chp a');
            td.html(out.label);
            if(out.js != '') {
                eval(out.js);
            }
            $.fancybox.close();
        });
    }
    sanitizeCurrency([$('.currency')]);
    $('.autoupdate').change(function(){
        val = $(this).val();
        pratica = $(this).attr('pratica');
        field = $(this).attr('name');
        $.post('{{ path('tabellone_autoupdate') }}', {'pratica': {'id': pratica, 'field': field, 'value': val}}, function(out) {
            checkUm();
        });
    });
    function checkUm() {
        $('.um').each(function(){
            val = $('#'+$(this).attr('target')).val();
            console.log(val);
            if(val) {
                if(parseFloat(val) <= 100){
                    $(this).text('%');
                } else {
                    $(this).text('€');
                }
            } else {
                $(this).text('');
            }
        });
    }
    checkUm();
</script>
{% endblock %}
