{% extends '::base.html.twig' %}

{% block title %}
Scheda
{% endblock %}

{% block content %}
<h1>Scheda</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Anno</th>
            <td>{{ entity.anno }}</td>
        </tr>
        <tr>
            <th>Dasc</th>
            <td>{{ entity.dasc|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tpa</th>
            <td>{{ entity.tpa }}</td>
        </tr>
        <tr>
            <th>Claimant</th>
            <td>{{ entity.claimant }}</td>
        </tr>
        <tr>
            <th>Soi</th>
            <td>{{ entity.soi }}</td>
        </tr>
        <tr>
            <th>First_reserve</th>
            <td>{{ entity.firstreserve }}</td>
        </tr>
        <tr>
            <th>Amount_reserved</th>
            <td>{{ entity.amountreserved }}</td>
        </tr>
        <tr>
            <th>Sa</th>
            <td>{{ entity.sa }}</td>
        </tr>
        <tr>
            <th>Offerta_nostra</th>
            <td>{{ entity.offertanostra }}</td>
        </tr>
        <tr>
            <th>Offerta_loro</th>
            <td>{{ entity.offertaloro }}</td>
        </tr>
        <tr>
            <th>Recupero_offerta_nostra</th>
            <td>{{ entity.recuperooffertanostra }}</td>
        </tr>
        <tr>
            <th>Recupero_offerta_loro</th>
            <td>{{ entity.recuperooffertaloro }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tabellone') }}">
            Torna indietro
        </a>
    </li>
</ul>
{% endblock %}
