{% extends '::base.html.twig' %}

{% block title %}
Scheda sinistro
{% endblock %}

{% block header %}
<ul class="menu" style="float: right;">
    <li><a href="javascript:attivaImport('Google','{{ path('calendario_import_google', {'id': entity.id}) }}')">Google</a></li>
    <li><a href="javascript:attivaImport('JWeb-Claims','{{ path('calendario_import_jweb', {'id': entity.id}) }}')">JWeb-Claims</a></li>
    <li><a href="javascript:attivaImport('Cancelleria Telematica','{{ path('calendario_import_cancelleria', {'id': entity.id}) }}')">Cancelleria Telematica</a></li>
    <li><a href="javascript:attivaImport('Ravinale Piemonte','{{ path('calendario_import_ravinale', {'id': entity.id}) }}')">Ravinale Piemonte</a></li>
</ul>
<h2 style="float: right; margin-right: 10px;">Importa calendario:</h2>
{% endblock %}
        
{% block content %}
<h1>{{ entity.ospedale.sigla|upper }}/{{ entity.anno2 }}/{{ entity.tpa }} {{ entity.claimant }}</h1>

<div style="float: left; margin-left: 270px; width: auto;" id="tabella_container">
    {% include 'EphpSinistriBundle:Scheda:show/tabella.html.twig' %}
</div>
<div style="position: absolute; width: 260px; margin-right: 10px;">
    {% include 'EphpSinistriBundle:Scheda:show/riepilogo.html.twig' %}
    {% include 'EphpSinistriBundle:Scheda:show/legenda_tabella.html.twig' %}
    {% include 'EphpSinistriBundle:Scheda:show/back.html.twig' %}
</div>
<div style="clear: both"></div>
<div style="display: none" id="fb_aggiungi_evento">
    <form id="aggiungi_evento">
        <h2>Aggiungi evento a {{ entity.ospedale.sigla|upper }}/{{ entity.anno2 }}/{{ entity.tpa }} {{ entity.claimant }}</h2>
        <div style="clear: both"></div>
        <label for="scheda_data">Data</label>
        <div style="clear: both"></div>
        <input type="text" name="evento[data]" id="scheda_data" class="cal_data" value="" /> <small>Inserire la data nel formato <b>gg/mm/aaaa</b> o le parole chiave <b>oggi</b>, <b>domani</b> o un numero seguito da <b>gg</b> (es: 5gg)</small>
        <div style="clear: both"></div>
        <label for="scheda_titolo">Titolo</label>
        <div style="clear: both"></div>
        <input type="text" name="evento[titolo]" id="scheda_titolo" style="width: 400px;" value=""/>  
        <div style="clear: both"></div>
        <label for="scheda_note">Note</label>
        <div style="clear: both"></div>
        <textarea style="background-color: #ffffff; border: 1px solid #dadada; width: 400px;" class="autogrow" name="evento[note]" id="scheda_note" placeholder="Inserisci qui le tue note"></textarea>
        <div style="clear: both"></div>
        <button type="button" onclick="aggiungiEvento()">Aggiungi</button>
    </form>
</div>
<script type="text/html" id="form_code">
    <form idid="form_update" action="#" onsubmit="return false">
        <h2 idid="form_titolo"></h2>
        <button type="button" onclick="importa()">Importa</button>
        <div style="clear: both"></div>
        <label for="scheda_data">Fai copia incolla da web</label>
        <div style="clear: both"></div>
        <textarea style="background-color: #ffffff; border: 1px solid #dadada; width: 600px; height: 500px;" class="autogrow" name="import[csv]" placeholder="Copia qui il testo da web"></textarea>
        <div style="clear: both"></div>
    </form>
</script>


<script type="text/javascript">
    function aggiungiEvento() {
        form = $('#aggiungi_evento');
        $.post('{{ path('tabellone_aggiungi_evento', {'id': entity.id}) }}', form.serialize(), function(out) {
            $('#tabella_container').html(out);
            $.fancybox.close();
            form.reset();
        });
    }
    sanitizeCurrency([$('.currency')]);
    sanitizeDate([$('.cal_data')]);
    $('.autoupdate').change(function(){
        val = $(this).val();
        pratica = $(this).attr('pratica');
        field = $(this).attr('name');
        $.post('{{ path('tabellone_autoupdate') }}', {'pratica': {'id': pratica, 'field': field, 'value': val}}, function(out) {
            checkUm();
        });
    });
    function checkUm() {
        $('.um').each(function(){
            val = $('#'+$(this).attr('target')).val();
            console.log(val);
            if(val) {
                if(parseFloat(val) <= 100){
                    $(this).text('%');
                } else {
                    $(this).text('€');
                }
            } else {
                $(this).text('');
            }
        });
    }
    checkUm();
    function attivaImport(tipo, url) {
        $('#tabella_container').html($('#form_code').html().replace(/idid/g, 'id'));
        $('#form_update').attr('action', url);
        $('#form_titolo').text('Importa da '+tipo);
    }
    function importa() {
        form = $('#form_update');
        $.post(form.attr('action'), form.serialize(), function(out){
            $('#tabella_container').html(out);
        });
    }
</script>
{% endblock %}
