{% extends '::base.html.twig' %}

{% block title %}
StatoOperativo
{% endblock %}

{% block content %}
<h1>StatoOperativo</h1>

<button type="button">
    <a href="{{ path('stati_operativi_new') }}">Nuovo Stato Operativo</a>
</button>

<table class="records_list">
    <thead>
        <tr>
            <th>Stato</th>
            <th>Tab</th>
            <th>Stats</th>
            <th>Primo</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.stato }}</td>
            <td class="tt" stato="{{ entity.id }}">{% if entity.tab %}<button>SI</button>{% else %}<button>NO</button>{% endif %}</td>
            <td class="ss" stato="{{ entity.id }}">{% if entity.stats %}<button>SI</button>{% else %}<button>NO</button>{% endif %}</td>
            <td class="pp" stato="{{ entity.id }}">{% if entity.primo %}DEFAULT{% else %}<button>Imposta</button>{% endif %}</td>
            <td>
                <a href="{{ path('stati_operativi_edit', { 'id': entity.id }) }}">Modifica</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $('.tt').click(function(){
        $this = $(this);
        $.post('{{ path('stati_operativi_tab') }}', {id: $(this).attr('stato')}, function(bt){
            $this.html(bt);
        });
    });
    $('.ss').click(function(){
        $this = $(this);
        $.post('{{ path('stati_operativi_stats') }}', {id: $(this).attr('stato')}, function(bt){
            $this.html(bt);
        });
    });
    $('.pp').click(function(){
        $this = $(this);
        $.post('{{ path('stati_operativi_primo') }}', {id: $(this).attr('stato')}, function(bt){
            $('.pp').html('<button>Imposta</button>');
            $this.html('DEFAULT');
        });
    });
</script>
{% endblock %}
