<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sinistri{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/ephpsinistri/css/ephp.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/ephpcalendar/css/ephp.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/jquery.fancybox.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-buttons.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-thumbs.css') }}" />
        <script src="{{ asset('/js/sugar/sugar-1.2.1.min.js') }}"></script>
        <script src="{{ asset('/js/sugar/sugar-1.2.3-custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-ui-1.8.17.custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.autogrow-textarea.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.spinner.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.infinitescroll.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-buttons.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-thumbs.js') }}"></script>
        <script src="{{ asset('/js/commons.js') }}"></script>
        <style type="text/css">
            .clearfix:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }
        {% block css_inline %}{% endblock %}
        </style>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/ephpsinistri/images/logo.png') }}" alt="JFclaims logo" style="vertical-align: middle; margin-right: 25px;" /></a>
                <div style="clear: both"></div>
                {% block menu %}
                    {% include "::components/menu/base.html.twig" %}
                {% endblock %}
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Attenzione</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                    {% if app.user %}
                        <h1>Benvenuto {{ app.user.nome }}.</h1>
                        <p>È iniziato lo sviluppo della versione 2.0 della piattaforma (ultimo aggiornamento 09/08/2013 ore 12:00)</p>
                        <dl>
                            <dt>Tabellone</dt>
                            <dd>Nascosti i sinistri in stato "definito"<br/>
                                <ul>
                                    <li style="padding-bottom: 0px">Aggiunti gestione, colonna e filtro Stati Operativi</li>
                                    <li style="padding-bottom: 0px">Aggiunta colonna Giudiziale, con possibilità di ricerca</li>
                                </ul>
                            </dd>
                            <dt>Ritardi</dt>
                            <dd style="color: red;">Creata la gestione delle pratiche sospese da oltre 60 giorni</dd>
                            <dt>Countdown</dt>
                            <dd style="color: red;">Meccanismo per la gestione delle richieste da espletare entro 15 giorni con:<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Lettura casella email seguendo il filtro "Richiesta" impostato su GMail per aprire nuove richieste</li>
                                    <li style="padding-bottom: 0px; color: red;">Riconoscimento automatica della pratica associata</li>
                                    <li style="padding-bottom: 0px; color: red;">Pannello di gestione (associazione a gestore o cancellazione)</li>
                                    <li style="padding-bottom: 0px; color: red;">Lettura email di richieste via web</li>
                                    <li style="padding-bottom: 0px; color: red;">Possibilità di rispondere e chiudere le richieste via web (con possibilità di allegare file)</li>
                                    <li style="padding-bottom: 0px; color: red;">Lettura casella email seguendo il filtro "Risposta" impostato su GMail per chiudere definitivamente la richiesta</li>
                                </ul>
                            </dd>
                            <dt>Schede</dt>
                            <dd style="color: red;">Meccanismo per la gestione delle schede tramite email<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Riconoscimento email da Contec JWebClaims</li>
                                    <li style="padding-bottom: 0px; color: red;">Riconoscimento email da Ravinale</li>
                                    <li style="padding-bottom: 0px; color: red;">Riconoscimento email generiche</li>
                                    <li style="padding-bottom: 0px; color: red;">Assegnazione automatica tramite TPA o Claimant</li>
                                </ul>
                            </dd>
                            <dt>Profilo</dt>
                            <dd>Creati i tab per Stati operativi<br/>
                            </dd>
                            <dt>Report</dt>
                            <dd>Miglioramenti<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Output per stampa (come da modello)</li>
                                    <li style="padding-bottom: 0px;">Salvataggio autometico dei campi</li>
                                    <li style="padding-bottom: 0px;">Salvataggio automatico ogni 30 secondi</li>
                                    <li style="padding-bottom: 0px;">Diverse politiche per la gestione dei report</li>
                                </ul>
                            </dd>
                            <dt>Calendario/Agenda</dt>
                            <dd>Consultazione del calendario<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Tolto calendario dal profilo</li>
                                    <li style="padding-bottom: 0px; color: red;">Riorganizzazione del calendario personale</li>
                                </ul>
                            </dd>
                        </dl>
                        
                        <p>Versione 1.0</p>
                        <dl>
                            <dt>Strumenti</dt>
                            <dd>Sono stati aggiunti alcuni strumenti di calcolo dal sito http://www.avvocatoandreani.it/</dd>
                            <dt>Profilo personale</dt>
                            <dd>Ogni gestore ha un suo profilo, col quale lavorare<br/>
                                <ul>
                                    <li style="padding-bottom: 0px;">Pagina riepilogativa (visualizzazione delle tre nuove priorità)</li>
                                    <li style="padding-bottom: 0px;">Gestione ruoli</li>
                                    <li style="padding-bottom: 0px;">Tabellone personale</li>
                                    <li style="padding-bottom: 0px;">Calendario personale</li>
                                    <li style="padding-bottom: 0px;">Possibilità di cambiare la password</li>
                                </ul>
                            </dd>
                            <dt>Calendario/Agenda</dt>
                            <dd>Consultazione del calendario<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Modifica delle note dal calendario sinistri senza necessità di entrare nella scheda</li>
                                    <li style="padding-bottom: 0px; color: red;">Generazione eventi di "Verifica" periodici (ogni 30gg dalla DASC)</li>
                                    <li style="padding-bottom: 0px;">Filtro per gestore</li>
                                    <li style="padding-bottom: 0px;">Mostra solo gli eventi futuri</li>
                                    <li style="padding-bottom: 0px;">Invio email con agenda giornaliera per ogni gestore</li>
                                </ul>
                            </dd>
                            <dt>Tabellone</dt>
                            <dd>Visualizza e visualizza le pratiche sinistri. Funzionalità attive<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Aggiunta colorra Giudiziale, con possibilità di ricerca</li>
                                    <li style="padding-bottom: 0px;">Aggiunte Priorità:
                                        <ul>
                                            <li style="padding-bottom: 0px;"><b>nuovo</b> verde, segnala i nuovi sinistri caricati da bordereau</li>
                                            <li style="padding-bottom: 0px;"><b>assegnato</b> arancio, indica ai gestoori i sinistri appena assegnati a loro</li>
                                            <li style="padding-bottom: 0px;"><b>riattivato</b> celeste, segnala i sinistri che cambiano stato quando la loro priorità è in 'definita'</li>
                                        </ul>
                                    </li>
                                    <li style="padding-bottom: 0px;">Ricerca avanzata con combinazione Claimant/SOI/Stato</li>
                                    <li style="padding-bottom: 0px;">Possibilità di segnalare sinistri "preferiti" da far comparire in prima pagina</li>
                                    <li style="padding-bottom: 0px;">Filtro per ospedale e anno</li>
                                    <li style="padding-bottom: 0px;">Filtro per gestore</li>
                                    <li style="padding-bottom: 0px;">Ricerca per Claimat modificata</li>
                                    <li style="padding-bottom: 0px;">Scroll con risultari filtrati</li>
                                    <li style="padding-bottom: 0px;">Contatore pratiche per i gestori</li>
                                    <li style="padding-bottom: 0px;">Assegnazione gestore</li>
                                    <li style="padding-bottom: 0px;">Modifica priorita</li>
                                    <li style="padding-bottom: 0px;">Aggiornamento dei campi visibili nei dettagli</li>
                                    <li style="padding-bottom: 0px;">Inserimento manuale DASC</li>
                                    <li style="padding-bottom: 0px;">Importazione XLS Bordereau</li>
                                    <li style="padding-bottom: 0px;">Importazione XLS Ravinale PIEMONTE</li>
                                    <li style="padding-bottom: 0px;">Importazione da Google Drive (nascosta)</li>
                                    <li style="padding-bottom: 0px;">Importazione da Google Drive scheda PIEMONTE (nascosta)</li>
                                </ul>
                            </dd>
                            <dt>Importazione tabellone da csv di Google Drive</dt>
                            <dd>È possibile importare i dati inseriti sui fogli di lavoro di Google Drive in modo massivo e veloce, usando semplicemente il Drag & Drop del file all'interno del sito.</dd>
                            <dt>Pratica</dt>
                            <dd>Visualizzazione delle pratiche<br/>
                                <ul>
                                    <li style="padding-bottom: 0px; color: red;">Creazione report online (colori cambiati e campi riordinati)</li>
                                    <li style="padding-bottom: 0px; color: red;">Aggiunte visualizzazione Giudiziale e Franchigia</li>
                                    <li style="padding-bottom: 0px;">Aggiunti i campi liberi "Legali avversari" e "Dati"</li>
                                    <li style="padding-bottom: 0px;">Creazione delle date automatiche</li>
                                    <li style="padding-bottom: 0px;">Inserimento di date manuali</li>
                                    <li style="padding-bottom: 0px;">Colorazione date a seconda della tipologia</li>
                                    <li style="padding-bottom: 0px;">Link di ritorno completi</li>
                                    <li style="padding-bottom: 0px;">Importazione date da:
                                        <ul>
                                            <li style="padding-bottom: 0px;">Google (nascosta)</li>
                                            <li style="padding-bottom: 0px;">jWeb Claims</li>
                                            <li style="padding-bottom: 0px;">Cancelleria Telematica</li>
                                            <li style="padding-bottom: 0px;">Ravinale Piemonte</li>
                                        </ul>
                                    </li>
                                    <li style="padding-bottom: 0px;">Modifica, evidenziazione e cancellazione date calendario</li>
                                    <li style="padding-bottom: 0px;">Versione per la stampa</li>
                                    <li style="padding-bottom: 0px;">Aggiunta di link relativi alla scheda</li>
                                </ul>
                            </dd>
                            <dt>Gestori</dt>
                            <dd>Inserisci e modifica i gestori delle pratiche</dd>
                            <dt>Ospedali</dt>
                            <dd>Inserisci e modifica gli ospedali</dd>
                        </dl>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
