<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sinistri{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/ephpsinistri/css/ephp.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/jquery.fancybox.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-buttons.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-thumbs.css') }}" />
        <script src="{{ asset('/js/sugar/sugar-1.2.1.min.js') }}"></script>
        <script src="{{ asset('/js/sugar/sugar-1.2.3-custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-ui-1.8.17.custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.autogrow-textarea.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.spinner.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-buttons.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-thumbs.js') }}"></script>
        <script src="{{ asset('/js/commons.js') }}"></script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/ephpsinistri/images/logo.png') }}" alt="JFclaims logo" /></a>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Attenzione</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                {% if app.user %}
                    <ul class="menu">
                        <li><a href="{{ path('gestori') }}">Gestori</a></li>
                        <li><a href="{{ path('ospedali') }}">Ospedali</a></li>
                        <li><a href="{{ path('tabellone') }}">Tabellone</a></li>
                    </ul>
                {% endif %}
                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                    {% if app.user %}
                        <h1>Benvenuto su JF Claims</h1>
                        <p>Il portale è in fase di sviluppo... ma cosa c'è per ora?</p>
                        <dl>
                            <dt>Gestori</dt>
                            <dd>Inserisci e modifica i gestori delle pratiche</dd>
                            <dt>Ospedali</dt>
                            <dd>Inserisci e modifica gli ospedali</dd>
                            <dt>Tabellone</dt>
                            <dd>Visualizza e filtra per Ospedale, Anno e Gestore le pratiche</dd>
                            <dt>Importazione tabellone da csv di Google Drive</dt>
                            <dd>È possibile importare i dati inseriti sui fogli di lavoro di Google Drive in modo massivo e veloce, usando semplicemente il Drag & Drop del file all'interno del sito.</dd>
                        </dl>
                    {% endif %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
