<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sinistri{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/ephpsinistri/css/ephp.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/ephpcalendar/css/ephp.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/jquery.fancybox.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-buttons.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/jquery/FancyBox/helpers/jquery.fancybox-thumbs.css') }}" />
        <script src="{{ asset('/js/sugar/sugar-1.2.1.min.js') }}"></script>
        <script src="{{ asset('/js/sugar/sugar-1.2.3-custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-ui-1.8.17.custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.autogrow-textarea.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.spinner.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.infinitescroll.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-buttons.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-thumbs.js') }}"></script>
        <script src="{{ asset('/js/commons.js') }}"></script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/ephpsinistri/images/logo.png') }}" alt="JFclaims logo" style="vertical-align: middle; margin-right: 25px;" /></a>
                {% block header %}
                {% endblock %}
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Attenzione</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                {% if app.user %}
                    <ul class="menu">
                        <li><a href="{{ path('gestori') }}">Gestori</a></li>
                        <li><a href="{{ path('ospedali') }}">Ospedali</a></li>
                        <li><a href="{{ path('tabellone') }}">Tabellone</a></li>
                        <li><a href="{{ path('calendario_sinistri') }}">Calendario</a></li>
                    </ul>
                {% endif %}
                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                    {% if app.user %}
                        <h1>Benvenuto su JF Claims</h1>
                        <p>Il portale è in fase di sviluppo... ma cosa c'è per ora? (ultimo aggiornamento 21/02/2013 ore 23:30)</p>
                        <dl>
                            <dt>Gestori</dt>
                            <dd>Inserisci e modifica i gestori delle pratiche</dd>
                            <dt>Ospedali</dt>
                            <dd>Inserisci e modifica gli ospedali</dd>
                            <dt>Calendario/Agenda</dt>
                            <dd>Bozza di visualizzazione<br/>
                                <ul>
                                    <li style="padding-bottom: 0px;">Filtro per gestore</li>
                                    <li style="padding-bottom: 0px;">Mostra solo gli eventi futuri</li>
                                    <li style="padding-bottom: 0px; color: red;">Invio email con agenda giornaliera per ogni gestore</li>
                                </ul>
                            </dd>
                            <dt>Tabellone</dt>
                            <dd>Visualizza e visualizza le pratiche sinistri. Funzionalità attive<br/>
                                <ul>
                                    <li style="padding-bottom: 0px;">Filtro per ospedale e anno</li>
                                    <li style="padding-bottom: 0px;">Filtro per gestore</li>
                                    <li style="padding-bottom: 0px; color: red;">Ricerca per Claimat modificata</li>
                                    <li style="padding-bottom: 0px;">Scroll con risultari filtrati</li>
                                    <li style="padding-bottom: 0px;">Contatore pratiche per i gestori</li>
                                    <li style="padding-bottom: 0px;">Assegnazione gestore</li>
                                    <li style="padding-bottom: 0px;">Modifica priorita</li>
                                    <li style="padding-bottom: 0px;">Aggiornamento dei campi visibili nei dettagli</li>
                                    <li style="padding-bottom: 0px;">Inserimento manuale DASC</li>
                                    <li style="padding-bottom: 0px;">Importazione XLS Bordereau</li>
                                    <li style="padding-bottom: 0px;">Importazione XLS Ravinale PIEMONTE</li>
                                    <li style="padding-bottom: 0px;">Importazione da Google Drive (nascosta)</li>
                                    <li style="padding-bottom: 0px;">Importazione da Google Drive scheda PIEMONTE (nascosta)</li>
                                </ul>
                            </dd>
                            <dt>Importazione tabellone da csv di Google Drive</dt>
                            <dd>È possibile importare i dati inseriti sui fogli di lavoro di Google Drive in modo massivo e veloce, usando semplicemente il Drag & Drop del file all'interno del sito.</dd>
                            <dt>Pratica</dt>
                            <dd>Visualizzazione delle pratiche<br/>
                                <ul>
                                    <li style="padding-bottom: 0px;">Creazione delle date automatiche</li>
                                    <li style="padding-bottom: 0px;">Inserimento di date manuali</li>
                                    <li style="padding-bottom: 0px;">Colorazione date a seconda della tipologia</li>
                                    <li style="padding-bottom: 0px;">Link di ritorno completi</li>
                                    <li style="padding-bottom: 0px;">Importazione date da:
                                        <ul>
                                            <li style="padding-bottom: 0px;">Google (schede vecchie)</li>
                                            <li style="padding-bottom: 0px;">jWeb Claims</li>
                                            <li style="padding-bottom: 0px;">Cancelleria Telematica</li>
                                            <li style="padding-bottom: 0px;">Ravinale Piemonte</li>
                                        </ul>
                                    </li>
                                    <li style="padding-bottom: 0px; color: red;">Modifica, evidenziazione e cancellazione date calendario</li>
                                    <li style="padding-bottom: 0px; color: red;">Versione per la stampa</li>
                                    <li style="padding-bottom: 0px; color: red;">Aggiunta di link relativi alla scheda</li>
                                </ul>
                            </dd>
                        </dl>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
