<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sinistri{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ephpsinistri/css/ephp.css') }}" />
        <script src="{{ asset('/js/sugar/sugar-1.2.1.min.js') }}"></script>
        <script src="{{ asset('/js/sugar/sugar-1.2.3-custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery-ui-1.8.17.custom.min.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.autogrow-textarea.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.ui.widget.js') }}"></script>
        <script src="{{ asset('/js/jquery/jquery.spinner.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/jquery.fancybox.pack.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-buttons.js') }}"></script>
        <script src="{{ asset('/js/jquery/FancyBox/helpers/jquery.fancybox-thumbs.js') }}"></script>
        <script src="{{ asset('/js/commons.js') }}"></script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <img src="{{ asset('bundles/ephpsinistri/images/logo.png') }}" alt="Symfony logo" />
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <ul id="menu">
                    <li><a href="{{ path('tabellone_upload') }}">Importa Tabellone</a></li>
                </ul>

                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
