{% extends '::base.html.twig' %}

{% block title %}
Profilo
{% endblock %}

{% block header %}
    <ul class="menu">
        <li><a href="{{ path('profilo') }}">Profilo</a></li>
        <li><a href="{{ path('tabellone_gestore', {'gestore': gestore.sigla}) }}">Tabellone</a></li>
        <li><a href="{{ path('calendario_sinistri_completo', {'gestore': gestore.sigla}) }}">Calendario completo</a></li>
        <li><a href="{{ path('strumenti') }}">Strumenti</a></li>
    </ul>
    <div style="clear: both"></div>
    {% if app.user.hasRole('ROLE_COORD') %}
        <ul class="menu">
            {% for gest in gestori %}
                {% if gest.hasRole('ROLE_GEST') %}
                    <li><a href="{{ path('calendario_sinistri', {'gestore': gest.sigla}) }}">{{ gest.nome }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div style="clear: both"></div>
    {% endif %}
{% endblock %}
    
{% block content %}
<h1>{{ gestore.nome }}</h1>

{% if eventi_ieri|length > 0 %}
    <h2>Ieri</h2>
    {% include 'EphpSinistriBundle:Calendar:index/calendario.html.twig' with {'entities': eventi_ieri} %}
{% endif %}
{% if eventi_oggi|length > 0 %}
    <h2>Oggi</h2>
    {% include 'EphpSinistriBundle:Calendar:index/calendario.html.twig' with {'entities': eventi_oggi} %}
{% endif %}
{% if eventi_domani|length > 0 %}
    <h2>Domani</h2>
    {% include 'EphpSinistriBundle:Calendar:index/calendario.html.twig' with {'entities': eventi_domani} %}
{% endif %}

{% endblock %}
