{% extends '::base.html.twig' %}

{% block title %}
Ospedale
{% endblock %}

{% block content %}
<h1>Modifica Ospedale</h1>

<form action="{{ path('ospedali_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Salva</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('ospedali') }}">
            Torna indietro
        </a>
    </li>
    <li>
        <form action="{{ path('ospedali_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Elimina</button>
        </form>
    </li>
</ul>
{% endblock %}
