<h2 style="float: left; margin-right: 20px;">Filtri veloci</h2>
<ul class="menu">
    {% if gestore is not defined or not gestore %}
        <li><a href="javascript:filtra({'.r': true});">Visualizza tutto</a></li>
        <li><a href="javascript:filtra({'.r': true, '.na': false});">Nascondi senza DASC</a></li>
        <li><a href="javascript:filtra({'.r': true, '.na': false, '.cg': false});">Mostra senza gestore</a></li>
        <li><a href="javascript:filtra({'.r': true, '.na': false, '.ng': false});">Mostra con gestore</a></li>
    {% endif %}
    <li><a href="javascript:avanzata('{{ path('tabellone_form_ricerca', params_ricerca) }}');">Avanzata</a></li>
    <li>oppure <input type="text" id="find_claimant" placeholder="Cerca per Claimant e premi invio" style="width: 250px;" value="{% if q is defined %}{{q}}{% endif %}">{% if q is defined %}<button onclick="resetQ()">Cancella ricerca</button>{% endif %}</li>
</ul>
<div id="ricerca_avanzata">
    {% if form is defined %}
        {% include 'EphpSinistriBundle:Scheda:formRicerca.html.twig' %}
    {% endif %}
</div>
<script type="text/javascript">
    var filtro = {'.r': true, '.na': false, '.ng': false};
    var filtro_nome = '';
    
    $('#find_claimant').change(function(){
        q = $(this).val().toLowerCase();
        if(q != '') {
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('__query__', q);
        } else {
            {% if gestore is defined and gestore %}
                url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__/', '-gestore_');
            {% else %}
                url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__', '').replace('tabellone/TUTTI', 'tabellone');
            {% endif %}
        }
        window.location =  url ;
    });
    function resetQ() {
        {% if gestore is defined and gestore %}
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__/', '-gestore_');
        {% else %}
            url = '{{ path('tabellone_cerca', params_cerca) }}'.replace('-cerca-__query__', '').replace('tabellone/TUTTI', 'tabellone');;
        {% endif %}
        window.location =  url ;
    }
        function avanzata(url) {
        $.post(url, function(html) {
            $('#ricerca_avanzata').html(html);
        });
    }
    function filtra(filter) {
        $('#find_claimant').val('');
        filtro_nome = '';
        filtro = filter;
        runFiltro();
    }
    function runFiltro() {
        if(filtro_nome != '') {
            $('.r').hide().each(function() {
               t = $(this).attr('titolo').toLowerCase();
               if(t.search(filtro_nome) >= 0) {
                   $(this).show();
               }
            });
        } else {
            oef = Object.extended(filtro);
            oef.keys().each(function(key){
                show = filtro[key];
                if(show) {
                    $(key).show();
                } else {
                    $(key).hide();
                }
            });
        }
        $('.detail').hide();
        sanitizeCurrency([$('.currency')]);
        sanitizeDate([$('.dasc_date')]);
        if (cambiaGestore) {
            cambiaGestore();
        }
        if (cambiaPriorita) {
            cambiaPriorita();
        }
        if (cambiaStatoOperativo) {
            cambiaStatoOperativo();
        }
    }
</script>