{% form_theme form 'form_table_layout.html.twig' %}
{% extends '::base.html.twig' %}

{% block title %}
Report
{% endblock %}

{% block css_inline %}
    table {
        border: 1px solid black;
    }
    th {
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
{% endblock %}

{% block content %}
<h1>Report edit</h1>

<form action="{{ path('report_tabellone_update', { 'id': entity.id, 'scheda': scheda }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="button">Modifica</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tabellone_report', {'id': scheda}) }}">
            Torna indietro
        </a>
    </li>   
</ul>
<script type="text/javascript">
    var id = null;
    $('textarea').addClass('autoupdate').css('width', '500px').css('hegith', '100px');
    $('.autoupdate').focus(function(){
        id = $(this).attr('id');
    }).change(function(){
        id = null;
        val = $(this).val();
        scheda = '{{ scheda }}';
        report = '{{ entity.id }}';
        field = $(this).attr('name');
        $.post('{{ path('report_autoupdate') }}', {'report': {'id': report, 'field': field, 'value': val}}, function(out) {
            console.log(out);
        });
    });
    window.setInterval( function() {
        if(id) {
            val = $('#'+id).val();
            scheda = '{{ scheda }}';
            report = '{{ entity.id }}';
            field = $('#'+id).attr('name');
            $.post('{{ path('report_autoupdate') }}', {'report': {'id': report, 'field': field, 'value': val}}, function(out) {
                console.log(out);
            });
        }
    }, 30000);
</script>
{% endblock %}