
<table class="records_list">
    <thead>
        <tr>
            <th>Data</th>
            <th>Numero</th>
            <th>Operazione</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('report_tabellone_show', { 'scheda': scheda, 'id': entity.id }) }}">{{ entity.data|date('d/m/Y') }}</a></td>
            <td style="text-align: right">{{ entity.number }}</td>
            <td>
                <button type="button" onclick="javascript:window.location='{{ path('report_tabellone_show', { 'scheda': scheda,'id': entity.id }) }}'">
                    Vedi
                </button>
                <button type="button" onclick="javascript:window.location='{{ path('report_tabellone_edit', { 'scheda': scheda,'id': entity.id }) }}'">
                    Modifica
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('report_tabellone_new', { 'scheda': scheda }) }}">
            Nuovo Report
        </a>
    </li>
    <li>
        <a href="{{ path('report_full', { 'id': scheda }) }}">
            Visualizzazione completa
        </a>
    </li>
</ul>
