<h3 style="text-align: center; text-decoration-line: underline; margin-bottom: 20px;">Aggiornamento: {{ entity.number }} del {{ entity.data|date('d/m/Y') }}</h3>
<table class="report_list" style="width: 640px; border-top: 1px solid black; margin-bottom: 10px;">
    <tbody>
        <tr style="valign: top">
            <th style="width: 25%">Copertura</th>
            <td style="width: 75%">{{ entity.copertura|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Stato</th>
            <td style="width: 75%">{{ entity.stato|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Descrizione In Fatto</th>
            <td style="width: 75%">{{ entity.descrizioneInFatto|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Relazione Avversaria</th>
            <td style="width: 75%">{{ entity.relazioneAvversaria|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Relazione Ex Adverso</th>
            <td style="width: 75%">{{ entity.relazioneExAdverso|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Primo medico legale</th>
            <td style="width: 75%">{{ entity.medicoLegale1|nl2br }}</td>
        </tr>
        {% if entity.medicoLegale2 %}
            <tr style="valign: top">
                <th style="width: 25%">Secondo medico legale</th>
                <td style="width: 75%">{{ entity.medicoLegale2|nl2br }}</td>
            </tr>
        {% endif %}
        {% if entity.medicoLegale3 %}
            <tr style="valign: top">
                <th style="width: 25%">Terzo medico legale</th>
                <td style="width: 75%">{{ entity.medicoLegale3|nl2br }}</td>
            </tr>
        {% endif %}
        <tr style="valign: top">
            <th style="width: 25%">Valutazione Responsabilita</th>
            <td style="width: 75%">{{ entity.valutazioneResponsabilita|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Analisi Danno</th>
            <td style="width: 75%">{{ entity.analisiDanno|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Riserva</th>
            <td style="width: 75%">{{ entity.riserva|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Possibile Rivalsa</th>
            <td style="width: 75%">{{ entity.possibileRivalsa|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Azioni</th>
            <td style="width: 75%">{{ entity.azioni|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Richiesta SA</th>
            <td style="width: 75%">{{ entity.richiestaSa|nl2br }}</td>
        </tr>
        <tr style="valign: top">
            <th style="width: 25%">Note</th>
            <td style="width: 75%">{{ entity.note|nl2br }}</td>
        </tr>
    </tbody>
</table>
