<nav style="margin-top: 10px;">
    <ul>
        <li>
            <button onclick="window.location = '{{ path('tabellone_stampa', {'id': entity.id}) }}'">
                Stampa scheda
            </button>
            <button onclick="window.location = '{{ path('tabellone_report', {'id': entity.id}) }}'">
                Report
            </button>
        </li>
        {% if app.user.hasRole('ROLE_ADMIN') %}
            <li>Torna al tabellone<br/>di {{ entity.gestore.nome }}</li>
        {% else %}
            <li>Torna al tabellone</li>
        {% endif %}
        <li>
            <a href="{{ path('tabellone_gestore', {'gestore': entity.gestore.sigla, 'ospedale': entity.ospedale.sigla, 'anno': entity.anno}) }}">
                {{ entity.ospedale.sigla }}/{{ entity.anno2 }}
            </a>
        </li>
        <li>
            <a href="{{ path('tabellone_gestore', {'gestore': entity.gestore.sigla, 'ospedale': entity.ospedale.sigla}) }}">
                {{ entity.ospedale.sigla }}
            </a>
        </li>
        <li>
            <a href="{{ path('tabellone_gestore', {'gestore': entity.gestore.sigla}) }}">
                Generale
            </a>
        </li>
        <li>
            <a href="{{ path('calendario_sinistri', {'gestore': entity.gestore.sigla}) }}">
                Calendario personale
            </a>
        </li>
        {% if app.user.hasRole('ROLE_ADMIN') %}
            <li>Torna al tabellone generale</li>
            <li>
                <a href="{{ path('tabellone', {'ospedale': entity.ospedale.sigla, 'anno': entity.anno}) }}">
                    {{ entity.ospedale.sigla }}/{{ entity.anno2 }}
                </a>
            </li>
            <li>
                <a href="{{ path('tabellone', {'ospedale': entity.ospedale.sigla}) }}">
                    {{ entity.ospedale.sigla }}
                </a>
            </li>
            <li>
                <a href="{{ path('tabellone') }}">
                    Generale
                </a>
            </li>
            <li>
                <a href="{{ path('calendario_sinistri') }}">
                    Calendario generale
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<div style="clear: both"></div>