<table class="records_list">
    <tbody>
        <tr>
            <th colspan="2">Gestore</th>
        </tr>
        <tr>
            <td colspan="2">{{ entity.gestore.nome }}</td>
        </tr>
        <tr>
            <th style="width: 50%; text-align: center">Giudiziale</th>
            <th style="width: 50%; text-align: center">Franchigia</th>
        </tr>
        <tr>
            <td>{{ entity.giudiziale }}</td>
            <td>{{ entity.franchigia }} €</td>
        </tr>
        <tr>
            <th style="width: 50%; text-align: center">Amount Reserved</th>
            <th style="width: 50%; text-align: center">Sa</th>
        </tr>
        <tr>
            <td><input type="text" class="autoupdate currency" style="width:100px" readonly="readonly" pratica="{{ entity.id }}" name="amountReserved" value="{% if entity.amountReserved >= 0 %}{{ entity.amountReserved }}{% else %}NP{% endif %}"/> €</td>
            <td><input type="text" class="autoupdate currency" style="width:100px" pratica="{{ entity.id }}" name="sa" value="{{ entity.sa }}"/> €</td>
        </tr>
        <tr>
            <th style="width: 50%; text-align: center">Offerta Nostra</th>
            <th style="width: 50%; text-align: center">Offerta Loro</th>
        </tr>
        <tr>
            <td><input type="text" class="autoupdate currency" style="width:100px" pratica="{{ entity.id }}" name="offertaNostra" value="{{ entity.offertaNostra }}"/> €</td>
            <td><input type="text" class="autoupdate currency" style="width:100px" pratica="{{ entity.id }}" name="offertaLoro" value="{{ entity.offertaLoro }}"/> €</td>
        </tr>
        <tr>
            <th style="width: 50%; text-align: center">Recupero Offerta Nostra</th>
            <th style="width: 50%; text-align: center">Recupero Offerta Loro</th>
        </tr>
        <tr>
            <td><input type="text" class="autoupdate currency" style="width:100px" pratica="{{ entity.id }}" name="recuperoOffertaNostra" value="{{ entity.recuperoOffertaNostra }}" id="recuperoOffertaNostra_{{ entity.id }}" /> <span class="um" target="recuperoOffertaNostra_{{ entity.id }}"></span></td>
            <td><input type="text" class="autoupdate currency" style="width:100px" pratica="{{ entity.id }}" name="recuperoOffertaLoro" value="{{ entity.recuperoOffertaLoro }}" id="recuperoOffertaLoro_{{ entity.id }}"/>  <span class="um" target="recuperoOffertaLoro_{{ entity.id }}"></span></td>
        </tr>
        <tr>
            <th colspan="2">Note</th>
        </tr>
        <tr>
            <td colspan="2"><textarea class="autoupdate autogrow" style="float: right; width: 250px;" pratica="{{ entity.id }}" name="note">{{ entity.note }}</textarea></td>
        </tr>
        <tr>
            <th colspan="2">Legali avversari</th>
        </tr>
        <tr>
            <td colspan="2"><textarea class="autoupdate autogrow" style="float: right; width: 250px;" pratica="{{ entity.id }}" name="legali_avversari">{{ entity.legaliAvversari }}</textarea></td>
        </tr>
        <tr>
            <th colspan="2">Dati</th>
        </tr>
        <tr>
            <td colspan="2"><textarea class="autoupdate autogrow" style="float: right; width: 250px;" pratica="{{ entity.id }}" name="dati">{{ entity.dati }}</textarea></td>
        </tr>
    </tbody>
</table>
