{% extends '::base.html.twig' %}

{% block title %}
Profilo
{% endblock %}

{% block content %}
<h1>{{ gestore.nome }}</h1>
<div id="tabs">
    <ul>
        {% if prima_pagina|length > 0 %}
            <li><a href="#tabs-pp">Prima pagina</a></li>
        {% endif %}
        {% if attenzione|length > 0 %}
            <li><a href="#tabs-i">Importanti</a></li>
        {% endif %}
        {% if app.user.hasRole('ROLE_ADMIN') and nuove|length > 0 %}
            <li><a href="#tabs-nr">Nuovi e riattivati</a></li>
        {% endif %}
        {% for tab in tabs %}
            {% if attribute(private, tab.id)|length + attribute(pubbliche, tab.id)|length > 0 %}
                <li><a href="#tabs-{{ tab.id }}">{{ tab.stato|capitalize }}</a></li>
            {% endif %}
        {% endfor%}
    </ul>
{% if prima_pagina|length > 0 %}
    <div id="tabs-pp" style="display: none">
        {% include 'EphpGestoriBundle:Profilo:index/schede.html.twig' with {'entities': prima_pagina} %}
    </div>
{% endif %}
{% if attenzione|length > 0 %}
    <div id="tabs-i" style="display: none">
        {% include 'EphpGestoriBundle:Profilo:index/schede.html.twig' with {'entities': attenzione} %}
    </div>
{% endif %}
{% if app.user.hasRole('ROLE_ADMIN') and nuove|length > 0 %}
    <div id="tabs-nr" style="display: none">
        {% include 'EphpGestoriBundle:Profilo:index/schede.html.twig' with {'entities': nuove} %}
    </div>
{% endif %}
{% for tab in tabs %}
    {% if attribute(private, tab.id)|length + attribute(pubbliche, tab.id)|length > 0 %}
        <div id="tabs-{{ tab.id }}" style="display: none">
            {% if attribute(private, tab.id)|length > 0 %}
                <h3>Personali</h3>
                {% include 'EphpGestoriBundle:Profilo:index/schede.html.twig' with {'entities': attribute(private, tab.id)} %}
            {% endif %}
            {% if attribute(pubbliche, tab.id)|length > 0 %}
                <h3>Tutte</h3>
                {% include 'EphpGestoriBundle:Profilo:index/schede.html.twig' with {'entities': attribute(pubbliche, tab.id), 'gest': true} %}
            {% endif %}
        </div>
    {% endif %}
{% endfor%}
</div>


<div style="display: none" id="fb_assegna_gestore">
    <form id="assegna_gestore_scheda">
        <li>Assegna il gestore a <span id="assegna_gestore_a"></span></a></li>
        <div style="clear: both"></div>
        <select name="scheda[gestore]" id="scheda_gestore">
            <option value="">Nessuno</option>
            {% for ges in gestori %}
                <option value="{{ ges.sigla }}">{{ges.nome}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="scheda[id]" id="scheda_id" value="" />    
        <button type="button" onclick="assegnaGestore()">Assegna</button>
    </form>
</div>

<script type="text/javascript">
    function cambiaGestore() {
        $('.chg').click(function(){
            tr = $(this).closest('tr');
            $('#assegna_gestore_a').text(tr.attr('titolo'));
            $('#scheda_id').val(tr.attr('riga'));
            $('#scheda_gestore').val(tr.attr('gestore'));
        });
    }
    cambiaGestore();

    function assegnaGestore() {
        form = $('#assegna_gestore_scheda');
        $.post('{{ path('tabellone_assegna_gestore') }}', form.serialize(), function(out) {
            window.location = out.redirect;
        });
    }

    $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs ul li a" ).click(function(){
            $( "#tabs div" ).hide();
            $($(this).attr('href')).show();
        });
        $( "#tabs div:first" ).show();
    });
    $('.autoupdate').change(function(){
        val = $(this).val();
        pratica = $(this).attr('pratica');
        field = $(this).attr('name');
        $.post('{{ path('tabellone_autoupdate') }}', {'pratica': {'id': pratica, 'field': field, 'value': val}}, function(out) {
            checkUm();
        });
    });

</script>
{% endblock %}
